.progress__price{
  height: 20%;
  display: flex;
  justify-content: center;
  width: 45%;
  background-color: aliceblue;
  margin: 0 auto;
  transition: 2s;
  flex-direction: column;
  padding: 15px 30px;
  border-radius: 15px;
}
.progress__prices{
  height: 100%;
  overflow: hidden;
}
.price_blue{
  color: #11557a;
  text-align: center;
}
.price_title{
    font-size: 32px;
    font-family:Nunito;
    margin-bottom: 10px;
}
.price_description{
    font-size: 18px;
}
@font-face {
  font-family: "Nunito";
  src: url("./styles/Nunito-Black.ttf");
}
@media(max-width:1250px){
.progress__price{
    min-width: 50%;
    min-height: 25%;
};
}
@media(max-width:960px){
.progress__price{
    min-width: 60%;
    min-height: 30%;
};
}

@media(max-width:768px){
.progress__price{
    min-width: 70%;
    min-height: 35%;
};
}

@media(max-width:520px){
.progress__price{
    min-width: 80%
};
}