.progress__price{
  max-height: 70%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  width: 45%;
  background-color: aliceblue;
  margin: 0 auto;
  transition: 2s;
  flex-direction: column;
  padding: 15px 30px;
  border-radius: 15px;
}
.progress__prices{
  min-height: 50%;
  overflow: hidden;
}
.price_start{
  display: none;
}
.price_blue{
  color: #11557a;
  text-align: center;
}
.price__title{
    font-size: 32px;
    font-family:Nunito;
    margin-bottom: 10px;
}
.price__description{
    color: "#d5e3e9";
}
@font-face {
  font-family: "Nunito";
  src: url("./styles/Nunito-Black.ttf");
}
@media(max-width:1250px){
.progress__price{
    min-width: 40%;
    max-height: 35%;
};
}
@media(max-width:960px){
.progress__price{
    min-width: 50%;
    max-height: 40%;
};
}

@media(max-width:768px){
.progress__price{
    min-width: 60%;
    max-height: 45%;
};
}

@media(max-width:520px){
.progress__price{
    min-width: 80%;
    max-height: 40%;
};
}