body{
  background-color: #96cee4;
  --barWidth:1000px;
  --iconWidth:calc(var(--barWidth)/5)
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.progress__bar{
 top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  position: relative;
  z-index: -1;
  left: 50%;
  width: 100%;
  margin: 0 auto;
}
.progress__bar span{
  display: flex;
  height: 2%;
  background-color: #1c8bc5;
  background-image: linear-gradient(
    center bottom,
    #21a3e0 37%,
    #1c8bc5 69%
  );
  position: relative;
  content: "";
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent 100%
  );
  z-index: 1;
  background-size: 30px 30px;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.backBar{
  left: -150%;
  width: 400%;
  transform: translateY(-150%);
  z-index: -2;
}
.backBar span{
  background: #6eb0cd;
  animation: none;

}
.progress__bar_control{

  height: 15px;
  transition-timing-function: linear;
}
.progress__buttons{
height: 5%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.progress__icon{
    height: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid #96cee4;
  border-top: 0;
  border-bottom: 0;
}

.progress__button{
  height: 100%;
  width: 8%;
  position: relative;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.progress__shortTexts{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family:Nunito;
  font-weight: 100;
}
.progress__shortText{
  height: 100%;
  width: 8%;
  position: relative;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family:Nunito;
  font-size: 15px;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
@media(max-width:1250px){
.progress__shortText{
  width: 9%;
  font-size: 10px;
}
.progress__button{
  width: 9%;
}
.progress__buttons{
height: 5%;
}
.progress__icon{
  height: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 8px solid #96cee4;
  border-top: 0;
  border-bottom: 0;
}

}
@media(max-width:960px){
.progress__shortText{
  width: 10%;
  font-size: 10px;
}
.progress__button{
  width: 10%;
}
.progress__buttons{
height: 4%;
}
.progress__icon{
  height: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #96cee4;
  border-top: 0;
  border-bottom: 0;
}

}
@media(max-width:768px){
.progress__shortText{
  width: 12%;
  font-size: 10px;
}
.progress__button{
  width: 12%;
}
.progress__buttons{
height: 4%;
}
.progress__icon{
    height: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #96cee4;
  border-top: 0;
  border-bottom: 0;
}

}
@media(max-width:520px){
.progress__shortText{
  width: 15%;
  font-size: 10px;
}
.progress__button{
  width: 15%;
}
.progress__buttons{
height: 3.5%;
}
.progress__icon{
    height: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #96cee4;
  border-top: 0;
  border-bottom: 0;
}

}
